In [1]:
SELECT FOGLALAS_PK,
       METTOL,
       DATEADD(MONTH,1,METTOL) AS 'Módosított kezdődátum'
FROM Foglalas
WHERE UGYFEL_FK LIKE 'emese'

FOGLALAS_PK,METTOL,Módosított kezdődátum
706,2016-07-22,2016-08-22
765,2016-08-09,2016-09-09
1083,2016-09-27,2016-10-27
1250,2016-11-05,2016-12-05
1313,2016-11-23,2016-12-23
1354,2016-12-07,2017-01-07
1484,2017-01-30,2017-02-28

In [3]:
SELECT szh.TIPUS, ROUND(COUNT(f.FOGLALAS_PK),-2)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK=sz.SZOBA_ID
                JOIN Szallashely szh ON sz.SZALLAS_FK=szh.SZALLAS_ID
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(f.FOGLALAS_PK),-2)< 500

TIPUS,(No column name)
Apartman,100
vendégház,100
panzió,200

In [5]:
SELECT CASE 
        WHEN YEAR(v.SZUL_DAT)>=1985 THEN 'fiatal'
        WHEN YEAR(v.SZUL_DAT)<1970 THEN 'idős'
        ELSE 'középkorú'
       END,
       COUNT(f.FOGLALAS_PK)
FROM Vendeg v JOIN Foglalas f ON v.USERNEV=f.UGYFEL_FK
WHERE f.FELNOTT_SZAM+f.GYERMEK_SZAM>=2
GROUP BY CASE 
        WHEN YEAR(v.SZUL_DAT)>=1985 THEN 'fiatal'
        WHEN YEAR(v.SZUL_DAT)<1970 THEN 'idős'
        ELSE 'középkorú'
       END

(No column name),(No column name)
fiatal,365
idős,96
középkorú,419